<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled> 
  {{!-- 在編輯頁面以外將checkbox設為disabled表示不能編輯 --}}
  {{todo.name}}
</p>
<a href="/">Back</a>
{{! detail 頁面加入可導向編輯頁面的連結 }}
<a href="/todos/{{todo._id}}/edit"> Edit</a>
{{! 新增delete請求，因a tag只能發送GET，故使用form，並改變為inline排版對齊a tag }}
{{!-- 使用methodoverride將POST請求改為DELETE --}}
<form
  action="/todos/{{todo._id}}?_method=DELETE"
  method="POST"
  style="display: inline;"
>
  <button type="submit">Delete</button>
</form>