{{! 新增delete請求，因a tag只能發送GET，故使用form，並改變為inline排版對齊a tag }}
{{!-- 使用methodoverride將POST請求改為DELETE --}}
<form
  action="/todos/{{todo._id}}?_method=DELETE"
  method="POST"
  style="display: inline;"
>
  <div class="input-group mb-3">
    <div class="input-group-text">
      {{!-- 在編輯頁面以外將checkbox設為disabled表示不能編輯 --}}
      <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled> 
    </div>
      <input type="text" class="form-control" placeholder="{{todo.name}}" disabled> 
      {{! detail 頁面加入可導向編輯頁面的連結 }}
      <a class="btn btn-outline-dark" href="/todos/{{todo._id}}/edit"> Edit</a>
      <button class="btn btn-outline-danger" type="submit">Delete</button>
  </div>
</form>