{{! 新增一個create 按鈕，導去/new頁面 }}
<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
    <li>
      <input type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}} disabled>
      {{this.name}}
      {{! 為每個項目加上detail頁面連結，此處的id為MongoDB自動產生的流水號 }}
      <a href="/todos/{{this._id}}"> Detail</a>
      {{! 新增可供編輯的連結，導向對應頁面 }}
      <a href="/todos/{{this._id}}/edit"> Edit</a>
      {{! 新增delete請求，因a tag只能發送GET，故使用form，並改變為inline排版對齊a tag }}
      <form
        action="/todos/{{this._id}}/delete"
        method="POST"
        style="display: inline;"
      >
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>